.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .5s ease-in-out;

  /* display: flex;
  align-items: center;
  justify-content: center; */

  background-color: #008752;
  transform: translateX(0) translateY(100%);
}


.feature-box:hover .overlay {
  opacity: 1;
  transform: translateX(0) translateY(0);
 
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* transition: ; */
  text-align: left;
}

section.folham-map {
  width:50%;
  height: 100%;
  overflow:hidden;
  flex: 1;
}

section#content {
  flex: 1;
}

@media (max-width: 990px) {
  section.folham-map {
    width: 100%;
  }
}

@media (min-width: 992px) {
  .carousel-caption {
    margin-bottom: 100px;
  }

  
}

@media (min-width: 768px) {
  .carousel-caption {
    margin-bottom: 150px;
  }
}

@media (max-width: 768px) {
  .carousel-caption {
    margin-bottom: 150px;
  }
}

@media (max-width: 768px){
  #logo img {
    max-height: 70%;
    margin-top: 10px;
}
}


@media (max-width: 768px){
  .carousel-inner .folham-bg img {
    height: 100vh;
    object-fit: cover;
  }

  .carousel-inner .folham-bg video {
    height: 100vh;
    object-fit: cover;
  }

  #page-title background-image {
    height: 100vh;
    object-fit: cover;
  };
}

.map-place {
  display: flex;
  width: 100%;

}

@media (max-width: 990px) {
  .map-place {flex-direction: column;}
}

@media (min-width: 576px) {
.modal-dialog {
    max-width: 90%;
    margin: 1.75rem auto;
    
  }
  .quote-modal {
    max-width: 50%;
    margin: 1.75rem auto;
    
  }

  .slider-img {
    height: 95%;
  }
}


.modal-body .fluid-width-video-wrapper {
    width: 50%;
    height: 100%;
    position: initial;
    padding: 0;
}

/* @media (max-width: 768px){
  .modal-body .fluid-width-video-wrapper {
    width: 100%;
    height: 100%;
    
}
} */

.map-description h3{
  text-align: left;
  font-size: smaller;
  margin-top: 20px; 
  margin-bottom: 0px;
  margin-left: 10px;
  
}

.map-description p{
  text-align: left;
  font-size: smaller;
  margin-top: 0; 
  margin-bottom: 0;
  margin-left: 10px;
  margin-right: 10px;
}

.sitemodal-inner {
  overflow-y: auto;
  flex: 1;
}

@media (max-width: 768px){
  .sitemodal {
    flex-direction: column;
    overflow-y: auto;
  }
  .modal-iframe {
    height: 50% !important;
    width: 100% !important;
  }
  .map-description{
    position: absolute;
    top: 220px;
    
    height: 200px;
    overflow-y: auto;
    /* padding-bottom: 100px; */
    
  }
  .map-description h3{
    text-align: left !important;
  }
  .map-description p{
    text-align: left !important;
  }

  

}
@media (max-width: 990px){
  .about-image {
    margin-bottom: 20px !important;
  }
}

/* .other-caption {
  top: 300px;
  bottom: auto;
}

.ourstory-bg{
  height: 400px;
} */

.site-box {
    display: block;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 13%);
    margin-bottom: 0;
    cursor: pointer;
    text-decoration: none;
    height: 265px;
    border-radius: 2px;
}

.site-name {
 
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  margin: 0 10px 0 0;
  padding: 0 0 3px 10px;
  color: #333;
  text-decoration: none;
  /* white-space: nowrap; */
  /* overflow: hidden; */
  /* float: none */
}

.site-image {
  margin-bottom: 15px;
}

.site-properties li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 11px;
  line-height: 11px;
  color: #333;
}


.site-page::-webkit-scrollbar {
  display: none;
}
